@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}
img {
    background-color: brown;
    width: 100vw;
    background-size: cover;
    padding-bottom: 0px;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
a {
    background-color: brown;
    color: white;
    text-align: center;
    display: block;
    padding: 20px;
    text-decoration: none;
}
a:hover {
    background-color: red;
}